<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MMX_NODE_GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <MMX_NODE_GUI.Properties.Settings>
            <setting name="startOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="confirmationOnExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showInNotifitation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="minimizeToNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="closeToNotification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="inhibitSystemSleep" serializeAs="String">
                <value>False</value>
            </setting>
        </MMX_NODE_GUI.Properties.Settings>
    </userSettings>
</configuration>
