<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mmx.Gui.Win.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mmx.Gui.Win.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Mmx.Gui.Win.Common.Properties.Settings>
            <setting name="StartOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfirmationOnExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowInNotification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_MinimizeToNotification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_CloseToNotification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhibitSystemSleep" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowConsole" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LanguageCode" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateInterval" serializeAs="String">
                <value>3600</value>
            </setting>
            <setting name="DisableOpenCL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LightMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnectOnStart" serializeAs="String">
                <value>False</value>
            </setting>
        </Mmx.Gui.Win.Common.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Mmx.Gui.Win.Common.Properties.Settings>
            <setting name="GitHubApi_Releases" serializeAs="String">
                <value>https://api.github.com/repos/madMAx43v3r/mmx-node/releases</value>
            </setting>
            <setting name="GitHubReleasesUrl" serializeAs="String">
                <value>https://github.com/madMAx43v3r/mmx-node/releases</value>
            </setting>
        </Mmx.Gui.Win.Common.Properties.Settings>
    </applicationSettings>
</configuration>